<ion-header>
  <ion-toolbar color="primary">
    <ion-title>The Movie App</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Movies</ion-card-title>
      <ion-card-subtitle>Popular Movies</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      This is a Test Demo to Show Case the TheMovieDB API Data for Popular Movies within an Ionic Based App
    </ion-card-content>
    <ion-card-content>
      <ion-button (click)="goToMovies()" expand="block">Show Movies</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
